@font-face {
    font-family: railway;
    src: url(../resources/font/Railway.otf);
}
body {
    font-family: railway;
    margin: 0 auto;
    position: relative;
    max-width: 1280px;
}

/*Header styles*/
header{
    min-height: 575px;
}

body{
    background: url("../resources/Landing Page Top Photo.jpg") no-repeat;
    background-position-x: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.submit {
    border: 0;
    background-color: #e24a45;
    width: 201px;
    color: white;
}
form {
    position: absolute;
    right: 75px;
    top: 30px;
    background-color: #324a64;
    width: 354px;
    height: 475px;
}
form input {
    display: block;
    width: 302px;
    height: 44px;
    margin: 21px auto;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    border: 0;
}

.headMain{
    height: 100px;
    color: #ffffff;
    background: #e24a45;
    text-align: center;
    width: 404px;
    margin: 25px 0 0 -25px;
    display: flex;
    align-items: center;
    box-shadow: -0px 21px 21px -10px #1c2630;
}
.headMain h1{
    width: 100%;
    font-weight: normal;
}
.headMain h1 span:nth-child(2) {
    font-weight: bold;
}
.headMain span{
    display: block;
    font-size: 21px;
}
/*Header styles - End*/

/*New Section common*/
.newSection{
    text-align: center;
    color: rgb(50,75,100);
    font-size: 16px;
    padding-bottom: 74px;
}
.newSection h2 {
    color: rgb(100,150,200);
    font-size: 32px;
    text-align: center;
    padding: 75px 0 35px;
    margin: 0;
    font-weight: normal;
}
.newSection .bodyText{
    padding: 0 100px;
    margin: 0;
}
.subtitleUnderline{
    margin: 0 auto 36px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
}
/*New Section common - End*/

/*Our Services*/
.ourServices ul {
    width: 100%;
    padding: 0;
    margin: 75px auto 0;
}
.ourServices ul li {
    display: inline-block;
    width: 10%;
    padding: 74px 25px 0;
    background-size: 46px;
    vertical-align: top;
    word-break: break-all;
}
.ourServices ul li:hover{
    background-size: 46px;
    color: rgb(255,0,0);
}






.ourServices ul li.itemEquity{
    background: url('../resources/graph.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.financial{
    background: url('../resources/presentation.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.wealth{
    background: url('../resources/hand-holding-money-bills copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.structured{
    background: url('../resources/box copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.commodity{
    background: url('../resources/management copy.png') no-repeat;
    background-position-x: center;
}
/*
.ourServices ul li .itemEquityImg{
    background: url('../resources/graph.png') no-repeat;
    width: 46px;
    height: 46px;
    margin: 0 auto;
}
.ourServices ul li .financialImg{
    background: url('../resources/presentation.png') no-repeat;
    width: 100%;
    height: 46px;
    margin: 0 auto;
}
.ourServices ul li .wealthImg{
    background: url('../resources/hand-holding-money-bills copy.png') no-repeat;
    width: 46px;
    height: 46px;
    margin: 0 auto;
}
.ourServices ul li .structuredImg{
    background: url('../resources/box copy.png') no-repeat;
    background-position-x: center;
    width: 46px;
    height: 46px;
    margin: 0 auto;
}
.ourServices ul li .commodityImg{
    background: url('../resources/management copy.png') no-repeat;
    background-position-x: center;
    width: 46px;
    height: 46px;
    margin: 0 auto;
}
*/




.ourServices ul li.currency{
    background: url('../resources/currencies copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.corporate{
    background: url('../resources/bank-safe-box copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.ipos{
    background: url('../resources/dollar-symbol copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.mutual{
    background: url('../resources/funds copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.bonds{
    background: url('../resources/coins-stacks-of-dollars-hand-drawn-commercial-symbol copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.itemEquity:hover{
    /*change below url for every image*/
    background: url('../resources/box copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.financial:hover{
    /*change below url for every image*/
    background: url('../resources/box copy.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.wealth:hover{
    background: url('../resources/hand-holding-money-bills copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.structured:hover{
    background: url('../resources/box copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.commodity:hover{
    background: url('../resources/management copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.currency:hover{
    background: url('../resources/currencies copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.corporate:hover{
    background: url('../resources/bank-safe-box copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.ipos:hover{
    background: url('../resources/dollar-symbol copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.mutual:hover{
    background: url('../resources/funds copy_red.png') no-repeat;
    background-position-x: center;
}
.ourServices ul li.bonds:hover{
    background: url('../resources/coins-stacks-of-dollars-hand-drawn-commercial-symbol copy_red.png') no-repeat;
    background-position-x: center;
}
/*Our Services - End*/

/*Bonus*/
.bonusContainer{
    background: url('../resources/Choice Index Background.png');
    background-size: contain;
    height: 475px;
}
.bonusContainer img {
    padding: 34px 0 0 10%;
    height: 407px;
    margin-right: -100%;
}
.bonusContainer .bonusBody{
    text-align: center;
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    width: 50%;
    float: right;
    margin-top: 9%;
}
.bonusBody .blueText{
    color: rgb(31,167,223);
    font-size: 120px;
    font-weight: bold;
    font-family: arial;
}
.bonusBody h3{
    margin: 0;
    font-size: 34px;
    font-weight: normal;
}
/*Bonus - End*/

/*Why choose us*/
.whyChooseUs{
    background: rgb(243,243,247);
}
.whyChooseUs ul {
    width: 100%;
    padding: 0;
    margin: 75px auto 0;
}
.whyChooseUs ul li {
    display: inline-block;
    width: 10%;
    padding: 74px 50px 0;
    background-size: 46px;
}
.whyChooseUs ul li:hover{
    background-size: 46px;
    color: rgb(255,0,0);
}

.whyChooseUs ul li.itemTrading{
    /*change below url for every image*/
    background: url('../resources/graph.png') no-repeat;
    background-position-x: center;
}
.whyChooseUs ul li.itemTrading:hover{
    /*change below url for every image*/
    background: url('../resources/box copy.png') no-repeat;
    background-position-x: center;
}

.whyChooseUs .subbody {
    padding-top: 15px;
}
.whyChooseUs .sublist {
    width: 15%;
}
/*Why choose us - End*/

/*Cost Structure*/
.costBody{
    padding: 0 100px;
    display: flex;
    align-items: center;
}
.costBody ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.costBody ul li {
    width: 50%;
    height: 75px;
    display: inline-block;
    padding: 0 32px;
}
.costBody ul li div{
    display: flex;
    align-items: center;
    position: relative;
    background: rgb(243,243,247);
}
.costBody ul li div .plus{
    position: absolute;
    right: 12px;
}
.costBody ul li div span{
    padding: 0 32px 0 12px;
}
/*Cost Structure - End*/

/*TV Commercial*/
.tvcommercial .tvLeft,.tvcommercial .tvRight{
    text-align: left;
    padding: 22px;
    width: 50%;
}
.tvcommercial .flexCenter{
    display: flex;
    align-items: center;
    padding: 0 100px;
}
/*TV Commercial - End*/

/*Footer*/
footer {
    background: rgb(50,75,100);
    color: white;
    display: flex;
    align-items: center;
    height: 150px;
}
.footerLeft{
    width: 50%;
}
.footerRight{
    padding-left: 12px;
}
.contactContainer{
    border-right: 1px solid #fff;
    text-align: right;
    margin: 12px 0;
    padding-right: 12px;
}
.contactContainer div{
    padding: 8px 0;
}
.telContainer{
    background: url('../resources/telephone.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 32px;
    display: inline-block;
}
.emailContainer{
    background: url('../resources/mail-black-envelope-symbol.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 32px;
    display: inline-block;
}
/*Footer - End*/



/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
/*Insert your changes for tablet viewport here*/
    
    form{
        margin-top: 56px;
        opacity: 0.9;
    }
    
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

    header{
        min-height: auto;
        height: 64px;
        background: #324a64;
    }
    .background{
        display: none;
    }
    .logo{
        position: static;
        padding: 8px;
        height: 48px;
    }
    form{
        position: static;
        width: 100%;
        height: auto;
    }
    .headMain{
        margin: 0;
        width: 100%;
    }
    form input{
        margin: 12px auto;
        width: 100%;
    }
    form input{
        margin-top: 0;
    }
    .formBody{
        padding: 16px;
    }
    .submit{
        padding: 0;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 0;
    }
    
    .newSection{
        padding-bottom: 32px;
    }
    .newSection h2{
        font-size: 18px;
        padding: 32px 0 16px;
    }
    .subtitleUnderline{
        border: 1px solid black;
        margin: 0 auto 12px;
    }
    .newSection .bodyText{
        padding: 0 16px;
    }

    .ourServices ul{
        margin: 12px auto 0;
        overflow: scroll;
    }
    .ourServices ul li{
        width: 100px;
        padding: 56px 8px 0;
    }
    
    .bonusContainer{
        width: 100%;
        height: auto;
    }
    .bonusContainer img{
        display: none;
    }
    .bonusContainer .bonusBody{
        width: auto;
        float: none;
        padding: 16px;
        margin-top: auto;
        font-size: 18px;
    }
    .bonusBody h3{
        font-size: 18px;
        font-weight: bold;
    }
    .bonusBody .blueText{
        font-size: 60px;
    }
    
    .whyChooseUs ul{
        margin: 12px auto 0;
        overflow: scroll;
    }
    .whyChooseUs ul li.sublist{
        width: 100px;
        padding: 56px 8px 0;
    }
    .whyChooseUs ul li .subbody{
        display: none;
    }
    
    .tvcommercial .flexCenter{
        display: block;
        padding: 0 16px;
        text-align: center;
    }
    .tvcommercial .tvLeft, .tvcommercial .tvRight{
        text-align: center;
        padding: 0;
        width: auto;
    }
    .tvcommercial .tvRight{
        margin: 0 -16px;
    }
    .tvcommercial iframe{
        width: 100%;
    }
    
    footer{
        display: block;
        height: auto;
        padding: 16px;
    }
    .footerLeft{
        width: auto;
    }
    .contactContainer{
        border: 0;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .footerRight{
        padding: 8px 0;
    }
    
    .costBody{
        padding: 0;
    }
    .costBody ul{
        display: block;
    }
    .costBody ul li{
        display: block;
        width: 100%;
        padding: 0 0 1px 0;
    }
    
    
}











